@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    background: #f8fafc; /* slate-50 */
    color: #0f172a; /* slate-900 */
  }

  a {
    color: #4338ca; /* indigo-700 */
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  a:hover {
    color: #3730a3; /* indigo-800 */
  }
}
